body {
  background-image: url("../img/oven.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  margin-top: 3em;
  opacity: 0.9;
}


.for-the-ordinary {
  display: none;
  background-color: rgba(255, 153, 51, 0.6);
  padding: 0 6px;
  border-radius: 5px;

}

.unique {
  background-color: rgba(94, 94, 94, 0.6);
  padding: 0 6px;
  border-radius: 5px;
  margin-bottom: 4px;
}

#weird {
  display: none;
}

.remove {
  float: right;
}

.modal h5, .modal h6 {
  text-align: center;
}

.modal-header {
  /* color: #313131; */
}

.modal-body {
  background-color: #313131;
  color: white;
}

.col {
  vertical-align: middle;
}

#xtra {
  display: inline-block;
  text-align: center;
}

#xtra input {
  float: none;
}
#xtra label {
  margin: 0;
}

#select-pizza label {
  display: block;
  margin-left: 25px;
  vertical-align: middle;
}

#select-pizza input {
  float: left;
  margin-top: 6px;
}

#spacer1 {
  height: 50px;
}

#spacer2 {
  position:relative;
  bottom: 0;
  height: 400px;
}

#add-pizza {
  width: 30%;
  display: block;
  position:fixed;
  margin-left: auto;
  margin-right: auto;
  bottom: 4em;
  left: 0;
  right:0;
}
#select-pizza #modal-btn {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #ff9933;
  box-shadow: 5px 5px 15px 3px grey;
}

#size-options, #sauce-options,
#topping-options, #premium-options {
  border: 1px solid grey;
  border-radius: 4px;
  margin: 10px 0;
  padding: 8px;
}

#order h5 {
  color: white;
}

.card {
  opacity: 0.85;
}



.remove {
  border-radius: 5px;
}

#no-order {
  text-align: center;
}

#show-options, #submit-order {
  display: block;
  margin: 2em auto;
  width: 80%;
  height: 4em;
  border: 1px solid grey;
  border-radius: 5px;
}

#pizzas {
  margin: 1em 0;
}

#status-bg {
  background-color: lightgreen;
  text-align: center;
}

#canvas1 {
  position: absolute;
  top: 225px;
  left: 225px;
  width: 450px;
  height: 450px;
  z-index: 1;
}

#pizza-round {
  position: absolute;
  top: 225px;
  left: 225px;
  z-index: 0;
}


/* Centering modal references StackOverflow */
/* https://stackoverflow.com/questions/18053408/vertically-centering-bootstrap-modal-window*/
@media screen and (max-width: 700px) {
  .vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
  }
  .vertical-align-center {
      /* To center vertically */
      display: table-cell;
      vertical-align: middle;
      pointer-events:none;
  }
  .modal-content {
      /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
      width:inherit;
      max-width:inherit;
      height:inherit;
      margin: 0 auto;
      pointer-events: all;
  }

  .display-4 {
    font-size: 2rem;
  }

}
